* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: white;
}

header {
    width: 100%;
    margin: 0;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.959);
    padding: 2% 0% 3% 3%;
    position: absolute;
    z-index: 2;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(73, 73, 233);
    margin-top: 1.5%;
    margin-left: 6%;
    font-family: 'Hind Siliguri', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav div {
    width: 60%;
    display: flex;
    margin-right: 5%;
}

ul {
    width: 80%;
    display: flex;
    padding-top: 4%;
}

ul li {
    margin-left: 10%;
    list-style: none;
}

ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    color: grey;

}

#enviar {
    width: 30%;
    height: 110%;
    background-color: rgb(73, 73, 233);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer; 
    border: 0ch;
    margin-top: 1.5%;
    box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);

}

#first {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
}

#text-principal {
    width: 50%;
    padding: 8%;
    padding-top: 15%;
}

#img {
    background-color: blue;
    width: 50%;
    height: 50%;
    padding-top: 4%;

}

#img img {
    width: 100%;
    height: 780px;
}

#text-principal h1 {
    font-family: 'Hind Siliguri', sans-serif;
    color: rgb(1, 1, 97);
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2%;
}

#text-principal p {
    color: rgb(107, 105, 105);
    font-size: 1.8rem;
    margin-bottom: 2%;
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
}

.icons-first, .icon-slider {
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
}

.icon-slider {
    width: 50%;
    height: fit-content;
    justify-content: flex-start;
}

.icon-slider h3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(107, 105, 105);
    font-size: 1.2rem;
    margin-left: 10%;
}

.text-icon {
    font-size: 1rem;
}

#schedule {
    width: 100%;
    height: fit-content;
    margin-top: 20%;
    display: flex;
}

#schedule span {
    display: flex;
    color: rgb(17, 0, 255);
    font-size: 1.8rem;
    background: rgb(217, 232, 255);
    padding: 20%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);
}

#schedule h3 {
    margin-left: 4%;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
    color: rgb(58, 51, 122);
    font-size: 1.5rem;
}

#footer-principal-page {
    position: absolute;
    bottom: 2%;
    left: 8%;
    width: 60%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.973);
    display: flex;
    align-items: center;
    padding-bottom: 2.5%;
    box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);
}

.icons {
    display: flex;
    width: 100%;
}

.icons div {
    display: flex;
    width: 100%;
    margin-left: 7%;
    margin-top: 5%;
    width: 25%;
}

.icons div span {
    display: flex;
    color: rgb(17, 0, 255);
    font-size: 1.8rem;
    background: rgb(217, 232, 255);
    padding: 1%;
    height: 50%;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
}

#footer-principal-page input {
    width: 20%;
    height: 100%;
    background-color: rgb(73, 73, 233);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 1.2%;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-right: 3%;
    margin-top: 4%;
    border: 0ch;
    box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);
    -webkit-box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: -3px 6px 14px 0px rgba(176, 176, 176, 1);

}

#text p {
    font-family: 'Roboto', sans-serif;
    color: rgb(58, 51, 122);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}
#text b{
    padding-top: 10%;
    font-family: 'Roboto', sans-serif;
    color: rgb(58, 51, 122);
    font-size: 1rem;
    margin-bottom: 10%;
}
#vaccine-name{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 1% 8%;
    margin-bottom: 10%;
}
#question{
    padding: 0% 8%;
}
#question h2 {
    font-family: 'Hind Siliguri', sans-serif;
    color: rgb(1, 1, 97);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2%;
}
#text-question{
    color: rgb(107, 105, 105);
    font-size: 1.5rem;
    margin-bottom: 2%;
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
}
#benefits{
    display: flex;
    justify-content: space-between;
    margin: 8% 0%;
    width: 100%;
    height: fit-content;
}
.card{
    width: 23%;
    padding: 3% 2%;
    border: solid rgba(194, 194, 194, 0.356) 1px;
    border-radius: 5%;
    cursor: pointer;
}
.card:hover{
    box-shadow: 1px 11px 20px -5px rgba(18,18,18,0.75);
    -webkit-box-shadow: 1px 11px 20px -5px rgba(18,18,18,0.75);
    -moz-box-shadow: 1px 11px 20px -5px rgba(18,18,18,0.75);
}
.card h3{
    color: rgb(102, 98, 138);
    font-size: 1.3rem;
    margin-bottom: 2%;
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
}
.card p{
    color: rgb(107, 105, 105);
    font-size: 0.9rem;
    margin-bottom: 2%;
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
}
.icon-q span {
    display: flex;
    color: rgb(17, 0, 255);
    font-size: 1.8rem;
    background: rgb(234, 242, 255);
    padding: 2.5%;
    width: 20%;
    height: 55%;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

#text-preparation h2{
    font-family: 'Hind Siliguri', sans-serif;
    color: rgb(1, 1, 97);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2%;
    
}
#text-preparation p{
    color: rgb(107, 105, 105);
    font-size: 1.5rem;
    
    margin-bottom: 2%;
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
}